<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>

<body th:fragment="consultaResoluciones">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Consulta resoluciones</h3>
                    </div>
                    <div class="panel-body">
                        <select th:field="">
                            <option th:each=""></option>
                        </select>
                            <table class="table table-dark table-striped table-hover">
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>