<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>

</head>
<body th:fragment="defuncion">

<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Solicitud de permisos por defunción</h3>
    </div>
    <div class="panel-body">
        <div>
            <h2></br>¿Qué dice la ley? </h2>
            <p class="help-block" p> </br> En el caso de muerte de un hijo así como en
                el de muerte del cónyuge o conviviente civil, todo
                trabajador tendrá derecho a siete días corridos de permiso
                pagado, adicional al feriado anual, independientemente del
                tiempo de servicio.
                Igual permiso se aplicará por tres días hábiles en
                el caso de muerte de un hijo en período de gestación así
                como en el de muerte del padre o de la madre del trabajador.
                Estos permisos deberán hacerse efectivos a partir del
                día del respectivo fallecimiento. No obstante, tratándose
                de una defunción fetal, el permiso se hará efectivo desde
                el momento de acreditarse la muerte, con el respectivo
                certificado de defunción fetal.
                El trabajador al que se refiere el inciso primero
                gozará de fuero laboral por un mes, a contar del respectivo
                fallecimiento. Sin embargo, tratándose de trabajadores
                cuyos contratos de trabajo sean a plazo fijo o por obra o
                servicio determinado, el fuero los amparará sólo durante
                la vigencia del respectivo contrato si éste fuera menor a
                un mes, sin que se requiera solicitar su desafuero al
                término de cada uno de ellos.
                Los días de permiso consagrados en este artículo no
                podrán ser compensados en dinero.</p>
        </div>
        <form method="post" action="/GuardarPermisosDefuncion" class="col-xs-4" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">Adjuntar archivo</label>
                <input type="file" id="exampleInputFile" name="file" class="form-control">
            </div>
            <div class="form-group">
                <label for="tipoDefuncion">Parentesco</label>
                <select class="form-control" id="tipoDefuncion" name="tipoDefuncion">
                    <option selected value=" +  1">Hijo / Cónyuge / Conviviente</option>
                    <option value="2">Padres/ Hijo en gestación</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha_defuncion">Seleccione fecha de defunción</label>
                <input type="text" class="form-control" id="fecha_defuncion" name="fecha_defuncion" value="" placeholder="Click para seleccionar fecha"/>
            </div>
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-primary">Solicitar</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {

        $('input[name="fecha_defuncion"]').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            minDate: moment().subtract(7,'days'),
            maxDate:moment(),
            locale: {
                cancelLabel: 'Limpiar'
            },
            isInvalidDate: function(date) {
                return (date.day() == 0 || date.day() == 6);
            }
        });

        $('input[name="fecha_defuncion"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY'));

        });

        $('input[name="fecha_defuncion"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });

        $( 'input[name="tipoDefuncion"]')
        {
            $option:selected.val();
        }
    });
</script>
</body>
</html>