<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="usuarioBasico">
<div class="container">
    <div class="col-md-9">
        <!-- Website Overview -->
        <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Sistema gestor de permisos Ilustre Municipalidad de Vista Hermosa</h3>
            </div>
            <div class="panel-body">
                <p>Benvenido al gestor de permisos, acá podrá solicitar y gestionar todas sus solicitudes y revisar sus
                    estados de aprobación</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>