<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
</head>

<body>

<div th:include="fragments/body :: body"></div>

<section id="main">
    <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas" th:fragment="opcionesRapidas"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Consultas y Reportes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Id solicitud</th>
                                    <th>Motivo</th>
                                    <th>Fecha de solicitud</th>
                                    <th>Fecha de inicio</th>
                                    <th>Fecha de termino</th>
                                    <th>Resolucion</th>
                                    <th>Estado</th>
                                </tr>
                                <tr>

                                <tr th:each="documento : ${listaDocumento}">
                                    <th th:text="${documento.documentoId}"></th>
                                    <th th:text="${documento.motivoId.nombre}"></th>
                                    <th th:text="${#dates.format(documento.fechaSolicitud, 'dd-MM-yyyy')}"></th>
                                    <th th:text="${#dates.format(documento.fechaInicio, 'dd-MM-yyyy HH:mm')}"></th>
                                    <th th:text="${#dates.format(documento.fechaTermino, 'dd-MM-yyyy HH:mm')}"></th>
                                    <th>
                                        <span th:if="${documento.resolucionId != null}"
                                              th:text="${documento.resolucionId.titulo}"></span>
                                    </th>
                                    <th th:text="${documento.estadoDocumentoId.nombre}"></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>