<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
</head>

<body>

<div th:include="fragments/body :: body"></div>


<section id="main">
    <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas" th:fragment="opcionesRapidas"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Consulta de resoluciones</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="/cosultaResoluciones">
                        <select class="form-control" id="seleccion" name="busqueda" onchange="check(this)">
                            <option value="seleccion" selected="seleccion">Seleccione busqueda</option>
                            <option value="rut">Rut</option>
                            <option value="resId">Resolucion </option>
                            <option value="motivo">Motivo</option>
                        </select>

                        <div id="other-div" style="display:none;">
                            <label>Ingrese:
                                <input class="form-control" id="other-input" name="inputText"></input>
                            </label>
                        </div>



                        <select class="form-control" id="motivoDiv" name="motivo" placeholder="Motivos" style="display:none;">
                            <option th:each="motivo : ${listadoMotivo}"
                                    th:value="${motivo.motivoId}"
                                    th:text="${motivo.nombre}"
                                    th:selected="false"></option>
                        </select>

                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-primary">Solicitar</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body" id="tablaBusqueda">
                    <div class="table-responsive-sm" th:if="${busqueda !=null}">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>Id Resolucion</th>
                                <th>Motivo</th>
                                <th>Rut responsable de emisión</th>
                            </tr>
                            <tr th:each="busquedaRes : ${busqueda}">
                                <td th:text="${busquedaRes.resolucionId}"></td>
                                <td th:text="${busquedaRes.motivoId.nombre}"></td>
                                <td th:text="${busquedaRes.funcionarioId.rut}"></td>

                            </tr>
                        </table>
                </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
        function check(elem) {
            document.getElementById("other-div").style.display = 'none';
            document.getElementById("motivoDiv").style.display = 'none';

             if (elem.value == "rut") {
                document.getElementById("other-div").style.display = 'block';

            } else if (elem.value == "resId") {
                document.getElementById("other-div").style.display = 'block';

            } else if (elem.value == "motivo") {
                document.getElementById("motivoDiv").style.display = 'block';
            }
        }
    </script>


</body>
</html>
