<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
</head>

<body>

<div th:include="fragments/body :: body"></div>

<section id="main">
    <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas" th:fragment="opcionesRapidas"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Consultas y Reportes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Id solicitud</th>
                                    <th>Motivo</th>
                                    <th>Fecha de solicitud</th>
                                    <th>Fecha de inicio</th>
                                    <th>Fecha de termino</th>
                                    <th>Resolucion</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                                <tr>

                                <tr th:each="documento : ${listaDocumento}">
                                    <th th:text="${documento.documentoId}"></th>
                                    <th th:text="${documento.motivoId.nombre}"></th>
                                    <th th:text="${#dates.format(documento.fechaSolicitud, 'dd-MM-yyyy')}"></th>
                                    <th th:text="${#dates.format(documento.fechaInicio, 'dd-MM-yyyy HH:mm')}"></th>
                                    <th th:text="${#dates.format(documento.fechaTermino, 'dd-MM-yyyy HH:mm')}"></th>
                                    <th>
                                        <span th:if="${documento.resolucionId != null}"
                                              th:text="${documento.resolucionId.titulo}"></span>
                                    </th>
                                    <th th:text="${documento.estadoDocumentoId.nombre}"></th>
                                    <th>
                                        <span th:if="${documento.estadoDocumentoId.estadoDocumentoId != 6 && documento.estadoDocumentoId.estadoDocumentoId != 7 && fechaActual > documento.fechaInicio}" >
                                            <input type="button" th:onclick="${'buscarDocumento('+documento.documentoId+')'}" value="Anular" class="btn btn-primary" />
                                        </span>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade " id="formAnular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Formulario de anulación</h4>
                </div>
                <div class="modal-body" style="overflow: hidden">
                    <p>
                        <form action="/anularPermiso" method="post" id="formAnularPermiso">
                            <table class="col-lg-12">
                                <tr>
                                    <th>Tipo Permiso </th>
                                    <td>:</td>
                                    <td id="motivoNombre"></td>
                                    <th>fecha de solicitud</th>
                                    <td>:</td>
                                    <td id="fechaSolicitud"></td>
                                    <th>Estado</th>
                                    <td>:</td>
                                    <td id="estado"></td>
                                </tr>
                                <tr>
                                    <th>Fecha Inicio</th>
                                    <td>:</td>
                                    <td id="fechaInicio" ></td>
                                    <th>Fecha Termino</th>
                                    <td>:</td>
                                    <td id="fechaTermino"></td>
                                </tr>
                                <tr>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="alert" style="display:none" class="alert alert-danger alert-dismissible " role="alert">
                                            <strong id="mesajeAlert" ></strong>
                                            <button class="close" onclick="closeAlert()"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="hidden" id="documentoId" name="documentoId" value=""  />
                                            <label for="motivo">Motivo de Anulación:</label>
                                            <select class="form-control" id="motivo" name="motivo">
                                                <option th:value="0">Seleccione</option>
                                                <option th:each="motivo : ${listMotivoAnulacion}"
                                                        th:value="${motivo.motivoId}"
                                                        th:text="${motivo.nombre}"
                                                ></option>

                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="9">
                                        <div class="form-group">
                                            <label for="comment">Comentario:</label>
                                            <textarea placeholder="Debe escribir un comentario" class="form-control" rows="5" id="comment" name="comentario"></textarea>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </form>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="button" class="btn btn-primary" value="Anular Permiso" onclick="validar();" />
                </div>
            </div>
        </div>
    </div>

</section>
<div th:replace="fragments/footer :: footer"></div>
<script>
    function buscarDocumento(id){

        $.post( "documentoPorID", { id: id, time: "2pm" }
        ,function (data) {
                acignarDatos(data);
            }
        );
    }
    function recortarFecha(JsonFecha){

        var  stringDate = JsonFecha.toString();
        stringDate=stringDate.substr(0,19);

        stringDate = stringDate.replace('T',' ');
        var anstes = stringDate.substr(0,11);
        var despuest = stringDate.substr(13);
        var hora = parseInt(stringDate.substr(11,2));
        hora = hora -3;
        if(hora <0){
            hora = 24 +hora;
        }
        stringDate = anstes+hora+despuest;
        return stringDate;
    }
    function acignarDatos(documento){
        var fecha;

        $("#documentoId").val(documento.documentoId);
        $("#motivoNombre").html(documento.motivoId.nombre);
        fecha =recortarFecha(documento.fechaSolicitud);
        $("#fechaSolicitud").html(fecha);
        $("#estado").html(documento.estadoDocumentoId.nombre);
        fecha =recortarFecha(documento.fechaInicio);
        $("#fechaInicio").html(fecha);
        fecha =recortarFecha(documento.fechaTermino);
        $("#fechaTermino").html(fecha);
        $("#formAnular").modal("show");
    }
    function validar(){
        var motivo = $("#motivo").val();
        if(motivo > 0){
            var textArea = $("#comment").val();
            if(textArea.trim() != ""){
                $("#formAnularPermiso").submit();
            }else{
                $("#mesajeAlert").html("Debe debe escribir un comentario");
                $("#alert").show();
            }
        }else{
            $("#mesajeAlert").html("Debe Selecionar un Motivo");
            $("#alert").show();
        }
    }
    function closeAlert(){
        $("#alert").hide();
    }
</script>
</body>
</html>