<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
</head>

<body>

<div th:include="fragments/body :: body"></div>


<section id="main">
    <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas" th:fragment="opcionesRapidas"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Reportes de permisos</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="/cosultaResoluciones">
                            <select class="form-control" id="seleccion" name="busqueda" onchange="check(this)">
                                <option value="seleccion" selected="seleccion">Seleccione busqueda</option>
                                <option value="rut">Rut</option>
                                <option value="departamento">Departamento</option>
                                <option value="estado">Estado del documento</option>
                                <option value="motivo">Motivo</option>
                            </select>

                            <div id="other-div" style="display:none;">
                                <label>Ingrese rut:
                                    <input class="form-control" id="other-input" name="inputText"></input>
                                </label>
                            </div>


                            <select class="form-control" id="deptoDiv" name="departamento" placeholder="Departamentos" style="display:none;" >
                                <option th:each="departamento : ${listadoDepto}"
                                        th:value="${departamento.departamentoId}"
                                        th:text="${departamento.nombre}"
                                        th:selected="false"> </option>
                            </select>


                            <select class="form-control" id="motivoDiv" name="motivo" placeholder="Motivos" style="display:none;">
                                <option th:each="motivo : ${listadoMotivo}"
                                        th:value="${motivo.motivoId}"
                                        th:text="${motivo.nombre}"
                                        th:selected="false"></option>
                            </select>

                            <select class="form-control" id="estadoDiv" name="estado" placeholder="Estado de documento" style="display:none;">
                                <option th:each="estadoDoc : ${listadoDoc}"
                                        th:value="${estadoDoc.estadoDocumentoId}"
                                        th:text="${estadoDoc.nombre}"
                                        th:selected="false"></option>
                            </select>


                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-primary">Solicitar</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body" id="tablaBusqueda">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Id solicitud</th>
                                    <th>Motivo</th>
                                    <th>Fecha de solicitud</th>
                                    <th>Fecha de inicio</th>
                                </tr>
                                <tr>

                                <tr th:each="documento : ${listaDocumento}">
                                    <th th:text="${documento.documentoId}"></th>
                                    <th th:text="${documento.motivoId.nombre}"></th>
                                    <th th:text="${#dates.format(documento.fechaSolicitud, 'dd-MM-yyyy')}"></th>
                                    <th th:text="${#dates.format(documento.fechaInicio, 'dd-MM-yyyy HH:mm')}"></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    function check(elem) {
        document.getElementById("other-div").style.display = 'none';
        document.getElementById("deptoDiv").style.display = 'none';
        document.getElementById("motivoDiv").style.display = 'none';
        document.getElementById("estadoDiv").style.display = 'none';

        if (elem.value == "rut") {
            document.getElementById("other-div").style.display = 'block';

        } else if (elem.value == "departamento") {
            document.getElementById("deptoDiv").style.display = 'block';

        } else if (elem.value == "motivo") {
            document.getElementById("motivoDiv").style.display = 'block';

        } else if (elem.value == "estado") {
            document.getElementById("estadoDiv").style.display = 'block';
        }
    }
</script>


</body>
</html>