<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: head">
</head>

<body>

<div th:include="fragments/body :: body"></div>

<section id="main">
    <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas" th:fragment="opcionesRapidas"></div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Reportes de permisos</h3>
                    </div>
                    <!--Alert-->
                    <div class="alert alert-danger alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡Error!:</strong> <p th:text="${mensaje}"></p>
                    </div>
                    <!--Fin de alert-->
                    <div class="panel-body">
                        <form method="post" action="/InfomePermisos">
                            <div class="form-group">
                            <select class="form-control" id="seleccion" name="busqueda" onchange="check(this)">
                                <option value="seleccion" selected="seleccion">Seleccione busqueda</option>
                                <option value="rutSel">Rut</option>
                                <option value="documentoSel">Id del Documento</option>
                                <option value="motivoSel">Motivo</option>
                                <option value="estadoSel">Estado</option>
                            </select>
                            </div>

                            <div id="campoTexto" class="form-group" style="display:none;">
                                <label for="other-input">Ingrese parametro de busqueda:
                                    <input class="form-control" id="other-input" name="inputText" placeholder="Ingreser solo números">
                                </label>
                            </div>

                            <div class="form-group">
                            <select class="form-control" id="motivoSel" name="motivoSel" placeholder="Motivos" style="display:none;">
                                <option th:each="motivo : ${listadoMotivo}"
                                        th:value="${motivo.motivoId}"
                                        th:text="${motivo.nombre}"
                                        th:selected="false"></option>
                            </select>
                            </div>

                            <div class="form-group">
                            <select class="form-control" id="estadoSel" name="estadoSel" placeholder="Estado de documento" style="display:none;">
                                <option th:each="estadoDoc : ${listadoDoc}"
                                        th:value="${estadoDoc.estadoDocumentoId}"
                                        th:text="${estadoDoc.nombre}"
                                        th:selected="false"></option>
                            </select>
                            </div>

                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </form>
                    </div>

                    <div class="panel-body" id="tablaBusqueda" th:if="${busqueda !=null}">
                        <div class="table-responsive-sm" >
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Id del documento</th>
                                    <th>Rut funcionario</th>
                                    <th>Motivo</th>
                                </tr>
                                <tr th:each="documento : ${busqueda}" data-toggle="modal"
                                    data-target="#myModal" class="fila">
                                    <th th:text="${documento.documentoId}" id="docId"></th>
                                    <th th:text="${documento.funcionarioId.rut}" id="funId"></th>
                                    <th th:text="${documento.motivoId.nombre}" id="motId"></th>
                                    <th th:text="${documento.resolucionId}" idden="true" id="resId"></th>
                                    <th th:text="${documento.fechaSolicitud}" idden="true" id="fechaSol"></th>
                                    <th th:text="${documento.fechaInicio}" idden="true" id="fechaIni"></th>
                                    <th th:text="${documento.fechaTermino}" idden="true" id="fechaTer"></th>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>

<!-- Modal de revisión de archivos -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Detalle de Informe</h4>
            </div>
            <div class="modal-body" id="detalleModal">
                <div id="infoModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--End Modal-->
<script type="text/javascript">
    $(function () {
        $('#myModal').modal({
            keyboard: true,
            backdrop: "static",
            show: false,

        }).on('show', function () {

        });

        $(".fila").on('click', function () {
            //debugger;

            //do all your operation populate the modal and open the modal now. DOnt need to use show event of modal again
            var idDoc = $(this).find("#docId").text();
            var idFun = $(this).find("#funId").text();
            var motivo = $(this).find("#motId").text();
            var resolucion = $(this).find("#resId").text();
            var fechaSolicitu = $(this).find("#fechaSol").text();
            var fechaInicio = $(this).find("#fechaIni").text();
            var fechaTermino = $(this).find("#fechaTer").text();

            $('#infoModal').html($('<b>Id docuemto: </b>'
                +  idDoc + '"/>' + '</br>' + '<b>Rut Funcioanrio: </b>' + idFun + '</br>'
                + '<b>Motivo: </b>' + motivo +'</br>'+ '<b>Resolucion: </b>'+ resolucion
                + '</br>' + '<b>Fecha de solicitud</b>' + fechaSol +'</br>' + '<b>Fecha de inicio: </b>'+ fechaInicio
                + '</br>' + '<b>Fecha de termino: </b>'+ fechaTermino
                + '</br>'));
            $('#orderModal').modal('show');



        });
    });
</script>

<script type="text/javascript">
    function check(elem) {
        document.getElementById("campoTexto").style.display = 'none';
        document.getElementById("motivoSel").style.display = 'none';
        document.getElementById("estadoSel").style.display = 'none';


        if (elem.value == "rutSel") {
            document.getElementById("campoTexto").style.display = 'block';
        } else if (elem.value == "documentoSel") {
            document.getElementById("campoTexto").style.display = 'block';
        }  else if (elem.value == "motivoSel") {
            document.getElementById("motivoSel").style.display = 'block';
        }else if (elem.value == "estadoSel") {
            document.getElementById("estadoSel").style.display = 'block';
        }
    }
</script>
<script th:if="${mensaje == null}">
    $(".alert").hide();
</script>

</body>
</html>