<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="fragments/header :: head">
  </head>
  <body>

  <div th:include="fragments/body :: body"></div>

    <section id="main">
      <div class="container">
        <div class="row">
            <div th:include="fragments/opcionesRapidas :: opcionesRapidas"></div>
          <div class="col-md-9">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Solicitudes</h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                      <th>Tipo de solicitud</th>
                      <th>Iniciar solicitud</th>
                  </thead>
                  <tbody>
                      <tr th:each="motivo : ${motivos}">
                        <th th:text="${motivo.nombre}"></th>
                        <th><form action="/formularioSolicitudes" method="post">
                          <input name="motivoId" type="hidden" th:value="${motivo.motivoId}"  />
                          <button type="submit" class="btn btn-primary">Solicitar</button>
                        </form></th>
                      </tr>
                  </tbody>
                </table>
                <br/>
              </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  <!-- Modal Mensaje-->
  <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="MensajeModalCenterTitle"> Informacion </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="conetnidoMensaje">
          Está seguro de solicitar el permiso
        </div>
        <div class="modal-footer">

          <button type="button" class="btn " data-dismiss="modal" onclick="closeModal();">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <script th:if="${mensaje != null}" th:inline="javascript" >
    /*<![CDATA[*/
      $("#conetnidoMensaje").html(/*[[${mensaje}]]*/ 'nada');
      $("#modalMensaje").modal("show")
    /*]]>*/
  </script>
  <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
